# Data Types and the type() function
- str: string
- int: integer
- float: floating point decimal

In [1]:
# type() displays the type of literals
type(3.14)

float

In [4]:
print(type(3.14))

<class 'float'>

In [2]:
type(5)

int

In [3]:
type("Colette")

str

In [5]:
# type() displays the type of variables
student = 123456
type(student)

int

In [6]:
print(type(student))

<class 'int'>

In [11]:
student = "Colette"
type(student)

str

In [13]:
print(type(student))

<class 'str'>

# Task 1: multi-part

In [2]:
# [ ] show the type after assigning bucket = a whole number value such as 16
# assign variable an integer
bucket = 16
# show a 
type(bucket)
print(type(bucket))

<class 'int'>

In [4]:
# [ ] show  the type after assigning bucket = a word in "double quotes"
bucket = "snitch nigga"
type(bucket)
print(type(bucket))

<class 'str'>

In [9]:
# [ ] display the type of 'single quoting' (use single quotes) 
bucket = 'bitch nigga'
type('bitch nigga')
print(type('bitch nigga'))

<class 'str'>

In [10]:
# [ ] display the type of "double quoting" (use double quotes)
type("snitch nigga")

str

In [11]:
# [ ] find the type of the type(3) statement (no quotes) - just for fun
print(type(type(3)))

<class 'type'>